body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.signup-container {
  margin-top: 10%;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.signup-box h2 {
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

p {
  margin-top: 20px;
}

p a {
  color: #007BFF;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}